WEB/Materiale didattico-20211003/Laboratorio/XML/Esercizi/dizionario.dtd

<!ELEMENT dizionario (voce*)> 
<!ELEMENT voce (termine, pronuncia, significato+)> 

<!ELEMENT termine (#PCDATA)>
<!ELEMENT pronuncia (#PCDATA)> 
<!ELEMENT significato (definizione, esempio*)> 
<!ELEMENT definizione (#PCDATA)> 
<!ELEMENT esempio (#PCDATA)> 
<!ELEMENT user (#PCDATA) >
<!ATTLIST dizionario lingua (english|french|german|italian|spanish)  #REQUIRED>
<!ATTLIST track lingua ID #REQUIRED>
<!ATTLIST voce lingue IDREFS #REQUIRED> 
